/*ReseT*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: monospace;
    font-size: 16px;
    height: 100%;

}
/*Styling page layout */

body{
display: flex;
flex-direction: column;
min-height: 100vh;

}

header{
margin-top: 20px;
background-color: black;
color: white;
text-align:center;
padding: 1rem;
position:static;
}
nav ul{
    list-style-type:none ;
padding: 0;

}
nav ul li{
display: inline;
margin: 0 1rem;

}
nav ul a{
color:white;
text-decoration: none;
font-weight: bold;


}

/*Main content styles */
main{
margin-top: 1rem ;

}

#home {
 background-color: rgb(248, 89, 89);

}

#about{
    background-color: aqua;
}

#services{
background-color: blueviolet;
}

#contact{ 
background-color: palevioletred;
}

section{
    padding: 2rem;
    background-color: #f4f4f4;
    margin: 1rem 0;
    border-radius: 8px;
}

/* Footer stays at the bottom*/
footer{
background-color: #333;
color: white;
text-align: center;
padding: 1rem;
position: fixed;
bottom: 0;
width: 100%;

}
